
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor-general {
    /* border: solid 3px green; */
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#section-encabezado {
    background-image: url("https://www.vargascorporation.com/images/banner-desarrollo-web.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
}

#img-perfil, #img-udla {
    margin: 1cm;
    /* border: solid 5px green; */
    border-radius: 15px;
    width: 15%;
}

#div-info-perfil {
    margin: 0.5cm;
    /* border: solid 5px blue; */
    color: white;
    width: 70%;
    line-height: 3.2;
}

#nombre, .info-perfil {
    text-align: center;
    font-variant: small-caps;
    font-size: 20px;
}

#nombre {
    color: gold;
    font-size: 25px;
}

hr {
    height: 10px;
    background-image: linear-gradient(90deg, yellow, blue, red);
    border: none;
}

#section-info-Sebastian {
    display: grid;
   grid-template-areas: 
   "t1 t2 t3"
   "s1 s2 s3"
   "f3 f2 f1"
   "t4 t5 t6"
   "s4 s5 s6"
   "f4 f5 f6"
   ;
    background-image: url("https://images.unsplash.com/photo-1569470451072-68314f596aec?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
    background-size: contain;
    align-items: center;
    justify-content: center;
    gap: 1cm;
    padding: 1cm;

}

.section2 {
    height: 45vh;
    color: white;
    /* border: solid 5px gold; */
    line-height: 2.5;
}

#t1 { grid-area: t1; }
#t2 { grid-area: t2; }
#t3 { grid-area: t3; }
#t4 { grid-area: t4; }
#t5 { grid-area: t5; }
#t6 { grid-area: t6; }

#juego-favorito { grid-area: s1; }
#comida-favorita { grid-area: s2; }
#pelicula-favorita { grid-area: s3; }
#serie-favorita { grid-area: s4; }
#pasatiempo { grid-area: s5; }
#meta-personal { grid-area: s6; }

h2 {
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: lightcoral;
    /* border: solid 5px blue; */
}

h3 {
    text-align: center;
    margin: 5px;
}

.item p {
    /* background-color: red; */
    margin: 0 0.5cm;
    text-align: justify;
}

figcaption {
    text-align: center;
    color: white;
    margin: 0.5cm;
}

figure img {
    border-radius: 15px;
    /* border: solid 5px rebeccapurple;*/
    width: 100%;
    height: 30vh;
}

/* SECTION 3 */

#titulo-mascota {
    padding: 0.5cm;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.466);
    background-image: linear-gradient(90deg, orange, green);
    background-size: 200%;
    animation: ani-mascota 3s alternate infinite;
}

@keyframes ani-mascota {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

#div-mascota {
    background-image: url("https://cdn.pixabay.com/photo/2021/10/30/11/01/forest-6754057_1280.jpg");
    background-size: 100% 100%;
    background-position: center;
    color: white;
}

#section-mascota {
    /* border: solid 5px gold;*/
    padding: 2cm;
    justify-content: center;
    gap: 2cm;
}

.div-img-mascota {
    border-radius: 15px;
    width: 50%;
    height: 50vh;
    /* border: double 10px red; */
}

#img-codornices1, #img-codornices2 {
    padding: 10px;
    background-size: cover;
    background-position: center;
}

#img-codornices1 {
    background-image: url("/IMG/img-codornices1.jpg");
}

#img-codornices2 {
    background-image: url("/IMG/img-codornices2.jpg");
}

#nombre-mascota {
    background-color: transparent;
    text-align: left;
    color: white;
    padding: 0;
    margin: 0cm 2cm;
    font-size: 30px;
    letter-spacing: 10px;
    /*Para animación*/
    color: transparent;
    background: linear-gradient(90deg, orange, green);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: text-animacion 3s alternate infinite;
}

@keyframes text-animacion {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

#descripcion-codornices {
    line-height: 3.5;
    text-align: justify;
    margin: 1.5cm 2cm;
}